body{
	text-align: center;
 
	color: red;
	background: antiquewhite;;
	font-family: arial;
 
	font-size: 10px;
	padding: 5px
}

h1{font-size:  2.5em;
font: 700;}

p{
 
font-size: 1.5em;
color: black;
font: bolder;

}

.container1{
	background: limegreen;
	margin: 20px;
}

.container2{
	background: palevioletred;
	margin: 20px;
}

#container{
	background: yellowgreen;
	margin: 5px;
	padding: 5px;
	border: 2px solid;
	color: antiquewhite;
}

.container4{
	background: green;
	margin: 20px;
	font-size: 2.5em;
}

.container3{
	display: inline-flex;
	color: antiquewhite;
	background: chocolate;
	font-size: 2.5em;
	
	margin: 20px;
}
header{ display: flex ;
	background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
	    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%); 
    width: 100%; 
 

}
nav ul { display: flex ;
  list-style-type: none;
  padding: .5em .5em;
  margin: 0;
   
 font-size: 1.5rem;
 
  justify-content:  space-around;
 flex-direction: row;
 flex: none;
}
li a{ display: flex ;
	 position: fixed;
	position: sticky;
 padding:   .5em;
  justify-content:  space-between;
}

#container2{
	background: lightyellow;
	margin: 20px;
	padding: 20px;
	height: 500px;
	border: 2px solid;
 
}

#cabecera{background:#37488b;box-shadow:0 2px 20px 0 rgba(0,0,0,.5);color:#fff;font-weight:700;margin:0;padding:.5em}
#cabecera #logo{width:20px;vertical-align:middle}
#cabecera #tagline{padding:0 0 0 1em;font-weight:400;font-size:.8em}